<div [ngClass]="mode ? 'card__' + mode : 'card__dark'">
  <h2>Ingresar a tareas</h2>
  <h3 *ngIf="errorMessage.length > 0">{{ errorMessage }}</h3>
  <ng-container *ngIf=" errors && errors.length > 0">
    <h3 *ngFor="let error of errors">{{ error.msg }}</h3>
  </ng-container>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form__group">
      <input
        type="email"
        placeholder="Correo electrónico"
        formControlName="email"
      />
    </div>
    <div class="form__group">
      <input
        type="password"
        placeholder="Contraseña"
        formControlName="password"
      />
    </div>
    <div class="form__group">
      <a routerLink="/auth/register" [ngClass]="mode ? 'a__' + mode : 'a__dark'"
        >Crear una cuenta</a
      >
    </div>
    <div class="form__group">
      <button type="submit" [disabled]="loginForm.invalid" [ngClass]="mode ? 'btn__' + mode : 'btn__dark'">
        Ingresar
      </button>
    </div>
  </form>
</div>

