.input__create {
  width: 100%;
  margin-top: -80px;
  padding:5px;
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  flex-wrap: none;
  align-items: center;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}

.create__dark {
  background-color: var(--veryDarkBlue);
}

.create__light {
  background-color: var(--veryLightGray);
}

/* Custom checkbox */

.checkbox {
  width: 20%;
  position: relative;
}

.checkbox label {
  position: absolute;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 1px solid var( --veryDarkDesaturatedBlue);
  background-color: none;
}


.checkbox label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  width: 12px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.checkbox input[type=checkbox] {
  visibility: hidden;
}

.checkbox input[type="checkbox"]:checked + label {
  background: linear-gradient(90deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 34%);
}

.checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

input[type=text] {
  width: 90%;
  padding: 15px;
  border:none;
  outline: none;
}

.input__dark {
  background-color: var(--veryDarkBlue);
  color: var(--veryLightGray);
}

.input__light {
  background-color: var(--veryLightGray);
}
