/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*  Light Theme */
  --veryLightGray: hsl(0, 0%, 98%);
  --veryLightGrayishBlue: hsl(236, 33%, 92%);
  --lightGrayishBlue: hsl(233, 11%, 84%);
  --darkGrayishBlue: hsl(236, 9%, 61%);
  --veryDarkGrayishBlue: hsl(235, 19%, 35%);

  /*  Dark Theme*/
  --veryDarkBlue: hsl(235, 21%, 11%);
  --veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --lightGrayishBlue: hsl(234, 39%, 85%);
  --lightGrayishBlueHover: hsl(236, 33%, 92%);
  --darkGrayishBlue: hsl(234, 11%, 52%);
  --veryDarkGrayishBlue: hsl(233, 14%, 35%);
  --veryDarkGrayishBlue: hsl(237, 14%, 26%);
}

body {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items:center;
}

.completed{
  text-decoration: line-through;
}

.active {
  color: hsl(220, 98%, 61%) !important;
}

.light, .dark {
  height: 100vh;
}

.light {
  background-color: var(--veryLightGrayishBlue);
}

.dark {
  background-color: var( --veryDarkDesaturatedBlue);
}

.banner__light, .banner__dark {
  position: relative;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.banner__light {
  background-image: url("./assets/images/light/bg-mobile-light.jpg");
}

.banner__dark {
  background-image: url("./assets/images/dark/bg-mobile-dark.jpg");
}

.banner__title{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
  align-items:center;
}

.banner__title h1{
  font-size:3rem;
  letter-spacing: 10px;
  color: var(--veryLightGray);
  font-weight:400;
}

.banner__title img{
  height:30px;
  cursor:pointer;
}

.content {
  width:100%;
  max-width: 500px;
  margin-top:-20px;
  z-index: 1;
}


/* DESKTOP */

@media screen and (min-width: 768px) {
  .banner__light {
    background-image: url("./assets/images/light/bg-desktop-light.jpg");
  }

  .banner__dark {
    background-image: url("./assets/images/dark/bg-desktop-dark.jpg");
  }

  .content {
    max-width: 650px;
  }

}




